:root {
    --bg-color: #212121;
    --second-bg-color: #DD88CF;
    --text-color: #DD88CF;
    --second-text-color : #212121;
    --main-color: #F5F5F5;
}
*{
    background-color: var(--bg-color);
    color: var(--text-color);
    font-family: 'Times New Roman', Times, serif;
    
}
.nav{
    
    overflow: hidden;
    background-color: var(--second-bg-color);
    
}
.nav a{
    background: var(--second-bg-color);
    float: right;
    display: block;
    color: var(--second-text-color);
    text-align: center;
    padding: 12px 15px;
    text-decoration: none;
    margin-top: 20px;
}
.nav a:hover{
    color: var(--main-color);
}
#logo{
    float: left;
    font-size: 5ch;
    margin-top: -5px;
    color: var(--main-color);
    position: fixed;
    background: none;
    cursor: pointer;
    
}

.about{

    display: flex;
    overflow: hidden;
    margin-top: 5px;
    font-size: 1.2rem;
    padding: 40px;
    align-items: center;
    width: auto;
    
}

img{
    float: right;
    margin-left: 100px;
    height: 200px;
    width: 200px;    
}
#about-content {
    width: 1100px;
}
.about h3{
    font-size: 1.5rem;
}
.about h4{
    font-size: 1.3rem;
}
.skills {
    margin: 5px;
    padding: 40px;
}
  
.skills .skills-row {
    display: flex;
    gap: 5rem;
}
  
.skills-row .skills-column {
    flex: 10cm;
    padding: 5px 20px;
}
.skills-column .title {
    font-size: 1.5rem;
    margin: 0 0 1.3rem;
    margin-left: 8px;
  }
  
.skills-box .skills-content {
    position: relative;
    border: 3px solid var(--main-color);
    border-radius: 0.5rem;
    padding: 5px 17px;
    overflow: hidden;
}
    
.skills-content .progress {
    padding: 0.2rem 0;
}
  
.skills-content .progress h3 {
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
}
  
.skills-content .progress h3 span {
    color: var(--main-color);
}
 
.skills-content .progress .bar {
    
    border-radius: 0.6rem;
    border: 3px solid var(--main-color);
    padding: 0.3rem;
    margin: 1px;
    
}
  
.skills-content .progress .bar {
    display: block;
    height: 100%;
    border-radius: 0.1rem;
    background: var(--main-color);
}
 
.skills-column:nth-child(1) .skills-content .progress:nth-child(1) .bar {
    width: 90%;
}

  .skills-column:nth-child(1) .skills-content .progress:nth-child(2) .bar {
    width: 70%;
}
  
.skills-column:nth-child(1) .skills-content .progress:nth-child(3) .bar {
    width: 55%;
}
  
.skills-column:nth-child(1) .skills-content .progress:nth-child(4) .bar {
    width: 80%;
}
  
.skills-column:nth-child(1) .skills-content .progress:nth-child(5) .bar {
    width: 60%;
}
  
.skills-column:nth-child(1) .skills-content .progress:nth-child(6) .bar {
    width: 75%;
}
  
.skills-column:nth-child(2) .skills-content .progress:nth-child(1) .bar {
    width: 70%;
}
  
.skills-column:nth-child(2) .skills-content .progress:nth-child(2) .bar {
    width: 75%;
}
  
.skills-column:nth-child(2) .skills-content .progress:nth-child(3) .bar {
    width: 90%;
}
.project{
    display: block;
    overflow: hidden;
    margin: 10px;
    padding: 40px;
    align-items: center;
    height: auto;
    width: auto;
    font-size: 1.3rem;
}
.p1, .p2, .p3{

    display: block;
    overflow: hidden;
    margin-top: 5px;
    font-size: 1.3rem;
    margin: 5px;
    padding: 40px;

}
.p2 img{
    float: right;
    margin: 10px;
    margin-left: 40px;
}
.p1 img, .p3 img{
    float: left;
    margin: 10px;
    margin-right: 40px;
}
.Bachelors, .Masters, .School{
    margin: 15px;
}

.course {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-template-rows: auto auto;
    gap: 1.5rem;
    padding: 20px;
    font-size: 1.5rem;
}
.edu, .cfc{
    position: relative;
    border: 3px solid var(--main-color);
    border-radius: 0.5rem;
    font-size: 1.1rem;
    overflow: hidden;
    margin: 5 0 1.3rem;
    margin-left: 45px;
    margin-right: 100px;
    padding: 20px;
    flex: 10cm;
    
}
h2{
    font-size: 1.7rem;
    color: var(--main-color);
}
.c1, .c2{
    padding: 5px;
    margin: 10px;
    
}
.course .title {
    font-size: 1.5rem;
    margin: 0 0 1.3rem;
    margin-left: 8px;
  }
.Intern{
    margin: 10px;
    padding: 40px;
}
.job1, .job2, .job3{
    padding: 5px;
    margin: 5px;  
    font-size: 1.3rem;
    padding: 40px;
}
.blogs{
    margin: 10px;
    padding: 40px;
    display: block;
    overflow: hidden;
    height: auto;
    font-size: 1.3rem;

}
.b1{
    padding: 40px;
}
.contact{
    margin: 10px;
    padding: 40px;
    margin-left: 300px;
    margin-right: 300px;
    border: 2px solid var(--main-color);
    border-radius: 0.5rem;
    display: block;
    overflow: hidden
}
form {
    display: flex;
    flex-direction: column;
    font-size: 1.3rem;

}
form input{
    width: 400px;
   
}
form textarea{
    height: 50px;
}
label {
    margin-top: 10px;
}

input, textarea {
    width: auto;
    padding: 8px;
    margin-top: 5px;
    font-size: 1.1rem;
    border: 1px solid var(--main-color);
    border-radius: 0.3rem;
    color: var(--main-color);
}

button {
    margin-top: 10px;
    padding: 10px;
    background-color: var(--second-bg-color);
    color: var(--second-text-color);
    font-size: 1.3rem;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: var(--main-color);
    color: var(--second-bg-color);
}
footer p, .social{
    background: none;
    color: var(--second-text-color);
}
.social{
    margin-left: 650px
}
#media{
    height: 50px;
    width: 50px;
    background: none;
    margin-right: 0px;
}
footer{
    margin: 10px;
    padding: 10px;
    display: flex;
    overflow: hidden;
    font-size: 1rem;
    border: 2px solid var(--second-bg-color);
    background-color: var(--main-color);
    
}
.sidebar{
    display: none;
}
#menu{
    display: none;
}

@media only screen and (max-width: 650px) {
    
    *{
        margin: 3px;
    }
    .sidebar{
        display: block;
    }
    .nav {
        display: none;
    }
    #container {
        position: fixed;
        top: -100%; 
        left: 0;
        width: 100%;
        background-color: var(--second-bg-color);
        z-index: 1000;
        padding: 15px 0;
        
    }

    .sidebar {
        display: flex;
        flex-direction: column;
        padding: 10px;
        background: var(--bg-color);
        margin-top: 60px;
        height: 100vh;
    }

    .sidebar a {
        padding: 12px;
        text-decoration: none;
        color: var(--main-color);
        font-size: 1.3rem;
        text-align: center;
        height: 100vh;
        
    }

    .container.active {
        top: 2; 
        
    }

    .overlay.active {
        display: block;
        
    }
    .sidebar a:hover{
        background-color: var(--main-color);
        color: var(--second-text-color);
    }

    #menu {
        font-size: 2.5rem;
        background: none;
        border: none;
        color: var(--main-color);
        cursor: pointer;
        position: fixed;
        display: block;
        left: 20px;
        top: 15px;
        z-index: 1100;
        
    }

    #logo {
        display: block;
        font-size: 3ch;
        position: relative;
        text-align: center;
        z-index: 1000;
    }
    .about {
        display: flex;
        overflow: hidden;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        width: 520px;
        margin-left: 10px;
    }
    .about img {
        height: 300px;
        width: 300px;
        margin-top: -600px;
        margin-left: -30px;
        position: relative;
    }

    .about-row {
        width: 550px;
        font-size: 1.3rem;
        text-align: left;
        margin-top: 300px;
        margin-left: -10px;
    }


    .skills .skills-row {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }
    .skills-column{
        width: 500px;
    }
    #proj{
        width: 530px;
        margin: 5px;
    }
    .p1, .p2, .p3{
        width: 100%;
        padding: 12px;
    }
    .education{
        width: 700px;
    }
    .course{
        margin-left: -50px;
        width: 100%;
    }
    .Intern{
        padding: 5px;
        overflow: hidden;
        width: 575px;
    }

    .job1, .job2, .job3{
        width: 500px;
    }
    .blogs{
        width: 510px;
    }
    .blogs .b1{
        margin-left: -20px;
        width: 100%;
    }
    #contact{
        width: 600px;
        overflow: hidden;
    }
    .contact{
        margin: 10px;
        width: 500px;
    }
    footer{
        display: block;
        width: 570px;
        float: none;
        height: auto;
        margin-bottom: -70px;
    }
    .social{    
        margin-top: 15px;
        margin-left: -300px;
    }

}